################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/firstWinFormApp/bin/Debug
/firstWinFormApp/obj/Debug
/firstMvcApplication/obj/Debug
/firstMvcApplication/bin
/firstConsoleApplication/obj/Debug
/myNote/obj/Debug
/packages
/firstWeb/bin
/firstWeb/obj/Debug
/myNote/bin/Debug
/firstConsoleApplication/bin/Debug
/CS02/bin/Debug
/CS02/obj/Debug
/CS03/bin/Debug
/CS03/obj/Debug
/CS04/bin/Debug
/CS04/obj/Debug
/CS05/bin/Debug
/CS05/obj/Debug
/CS08/bin/Debug
/CS08/obj/Debug
/CS09/bin/Debug
/CS09/obj/Debug
/CS06/bin/Debug
/CS06/obj/Debug
/CS07/bin/Debug
/CS07/obj/Debug
