
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>这是一个WEB程序，这是主页</h2>
    <a href="~/Home/Login">点击这里进行登录</a>
</body>
</html>
