@model firstMvcApplication.Models.LoginModel

@{
    ViewBag.Title = "Login";
}


<!--Layout用于母板页的布局，在后面的章节中会详细讲解-->
<html>
<head>
    <title>用户登陆</title>
</head>
<body>
    <h3>登录界面</h3>
    <!--Html.BeginForm()等同于在html代码里写<form>.....</form>是一样的-->
    @using (Html.BeginForm())
    {
        <div>
            用户名： @Html.TextBoxFor(model => model.UserName)
        </div>
        <br />
        
        <div>
            密&nbsp;&nbsp;&nbsp;&nbsp;码：
            <!--创建用户名文本框，等同于<input type="password" />-->
            @Html.PasswordFor(model => model.Password)
        </div>
        <br />
        
        <div>
            <input type="submit" value="登录" />
        </div>
        <br />

        <!--登录结果-->
        <div>@Html.Raw(ViewBag.LoginInfo)</div>
        <br />

        <div><a href="~/home/index">返回主页</a></div>
    }
</body>
</html>
